/* $CONTENTS
/*------------------------------------*/
/**
 * CONTENTS................. You’re reading it!
 * BOOTSTRAP ............... Customisation and Import
 * VARIABLES ............... Other Variables for site
 * WIREFRAME ............... Setting for Wireframe
 * TYPOGRAPHICAL ........... Common elements
 * LISTS ...................
 * IMAGES ..................
 * LAYOUT ..................
 * FORMS ................... 
 * TABLES .................. 
 * HELPER CLASSES .......... 
 * LEGACY ...............Legacy and fallback styles

 */

 @mixin MQ($media) {
 	@if $media == xs-min {
 		@media only screen and (min-width: $screen-xs-min) { @content; }
 	}
 	@else if $media == sm-min {
 		@media only screen and  (min-width: $screen-sm-min) { @content; }
 	}
 	@else if $media == md-min {
 		@media only screen and (min-width: $screen-md-min) { @content; }
 	}
 	@else if $media == lg-min {
 		@media only screen and (min-width: $screen-lg-min) { @content; }
 	}
 	@else if $media == ret {  
 		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
 	}
 }

 @mixin transition3 {
	transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
@mixin transition6 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}
@mixin transition9 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}

 @mixin retinize($file, $type, $rep, $x, $y, $width, $height) {
 	background: transparent url('../images/' + $file + '.' + $type) $rep $x $y;

 	@media (-webkit-min-device-pixel-ratio: 1.5),
 	(min--moz-device-pixel-ratio: 1.5),
 	(-o-min-device-pixel-ratio: 3/2),
 	(min-device-pixel-ratio: 1.5),
 	(min-resolution: 1.5dppx) {
 		& {
 			background: transparent url('../images/' + $file + '@2x.' + $type) $rep $x $y;
 			-webkit-background-size: $width $height;
 			-moz-background-size: $width $height;
 			background-size: $width $height;
 		}
 	}
 }

 @mixin transition-all($time) {
 	-webkit-transition: all $time;
 	-moz-transition: all $time;
 	-ms-transition: all $time; /* IE10 is actually unprefixed */
 	-o-transition: all $time;
 	transition: all $time;
 }



/* BOOTSTRAP
/*------------------------------------*/


// Bootstrap variables customisation.
// Settings for some of the most global styles. Overrides varation.scss

// Gradient
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Set pallette colors
$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Background color for `<body>`.
$body-bg:               #fff !default;

// Global text color on `<body>`.
$text-color:            $gray-dark !default;

// Global textual link color.
$link-color:            $brand-primary !default;

// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//== Typography

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px

// Import Bootstrap
@import "../bs-assets/stylesheets/bootstrap/variables";
@import "../bs-assets/stylesheets/bootstrap";


// Small devices (tablets, 768px and up)
// @media (min-width: @screen-sm-min) { ... }

// Medium devices (desktops, 992px and up)
// @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up)
// @media (min-width: @screen-lg-min) { ... }


/* $VARIABLES
/*------------------------------------*/

// 01 colours

$highlight: $gray-light;



/* $WIREFRAME
/*------------------------------------*/

$brand-primary: $gray-dark;

header ul {
	float: left;
	padding-left: 0;
	li {
		float: left;
		list-style-type: none;
		margin-right: 1em;
	}
}

.active a {
	color: $link-hover-color;
}

footer {
	text-align: center;
}

.row {
	background-color: $gray-lighter;
	margin: 1em 0 1em 0;
	padding-top: 1em;
	padding-bottom: 1em;	
}





/* $TYPOGRAPHICAL
/*------------------------------------*/





/* $IMAGES
/*------------------------------------*/
main img {
	@extend .img-responsive;
}



/* $LAYOUT
/*------------------------------------*/




/* $FORMS
/*------------------------------------*/




/* $TABLES
/*------------------------------------*/




/* $HELPER CLASSES
/*------------------------------------*/
//shows what size this busta is

#site-size-helper {
	height: 1.5em;
	color: green;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	z-index: 100;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: 
	absolute; 
	width: 1px; 
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

svg:not(:root) { 
	overflow: hidden; 
}

.valign {
	height: 100%;
	width: 100%;
	display: table !important;
	overflow: hidden;
}

.vac {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.hac{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

//mm menu fouc destroyer

#menu:not( .mm-menu ) {
   display: none;
}





/* $LEGACY
/*------------------------------------*/

/* webkit, opera, IE9 */
::selection { background: $highlight; }
/* mozilla firefox */
::-moz-selection { background: $highlight; }
// remove dotted border on links forever
a:focus,
a:active {
	outline: none;
	-moz-outline-style: none;
}